@model TMC.ViewModels.ProductItemViewModel
@{
    ViewBag.Title = @Model.SeoTitle.Replace("-", " ");
}
@section scripts
{    <link href="@Url.Content("~/css/EditorStyle.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/tmc.common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/tmc.productEditor.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/tmcDataService.js")" type="text/javascript"></script>


}

<div id="divActionLinks" style="display: none;">

    <div id="divCreateCoupon" href="@Url.Action("CreateHelp", "Products")">
    </div>


    <input type="hidden" id="hdnSelectedHelpMaster" />
    <input type="hidden" id="hdnHelpDetailID" />
    <input type="hidden" id="hdnHelpCode" />
    <input type="hidden" id="hdnSelectedFolder" />
    <input type="hidden" id="hdnSelectedFolderCode" />
    <input type="hidden" id="hdnSelectedFolderName" />
    <input type="hidden" id="hdnWorkflowStatus" />
    <input type="hidden" id="hdnNewHelpTempStatus" />
</div>


<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12">
                <h1 class="page-header col-lg-9">
                    @Model.Name
                    <small>(@Model.SeoTitle.Replace("-", " "))  </small>
                </h1>
                <div class="col-lg-3">
                    <a href="#">
                        <img src="@Url.Content( "~/img/" + @Model.ImageURL)" />
                    </a>
                </div>

            </div>

            <ol class="breadcrumb ">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Coupon Board", "Index", "CouponBoard")
                </li>
                <li class="active">@(@Model.Name + " coupons")</li>
            </ol>
        </div>
    </div>
    <div class="row" id="divProductContent">
        <div class="col-lg-11">
            <p>@Model.Description <a href="@Model.SiteURL"></a></p>
            <label id="lblProductContent">@Html.Raw(@Model.Content)</label>
        </div>
        <div class="col-lg-1">
            <div id="addUpdateProduct">
                <div id="addUpdateProduct" class="btn btn-link btn-sm pull-right">Edit  </div>
            </div>

        </div>
    </div>
    <div class="row" id="divProductEditorContent" style="display: none">
        <div class="col-lg-12">
            <div id="addUpdateProducts">
                <div id="btnSaveCoupon" class="btn btn-link btn-sm pull-right">Save Details</div>
            </div>

        </div>
        <div class="col-lg-12"> 
            <div class="scrollDiv">
                <div id="divHelpContent">
                    <div class="clearLH">
                        &nbsp;
                    </div>
                    <iframe id="iFrameHelpEditor" src="../../WebForms/Help.aspx" style="height: 500px;
                                                                                                                                                                     width: 100%; overflow: hidden" frameborder="0"></iframe>
                </div>
            </div>
        </div>

    </div>
</div>




@*<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Coupon Board
                    <small>The current trend in the free coupon world</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="active">Coupon Board</li>
                </ol>
            </div>
        </div>
        @{
            foreach (var blogItem in Model.Products  )
            {
                @Html.Partial("_ProductView", blogItem)
            }
        }

        <div class="row">
            <div class="col-md-1">
                <p>
                    <i class="fa fa-file-text fa-4x"></i>
                </p>
                <p>May 24, 2013</p>
            </div>
            <div class="col-md-3">
                <a href="@Url.Action("Post")">
                    <img class="img-responsive" src="http://placehold.it/600x300">
                </a>
            </div>
            <div class="col-md-6">
                <h3>
                    <a href="@Url.Action("Post")">A Blog Home Template for Bootstrap 3</a>
                </h3>
                <p>
                    by <a href="#">Start Bootstrap</a>
                </p>
                <p>This is a very basic starter template for a blog homepage. It makes use of Font Awesome icons that are built into the 'Modern Business' template, and it makes use of the Bootstrap 3 pager at the bottom of the page.</p>
                $1$    @Html.ActionLink("Show More1", "Index","Coupons", "sdfsadf sdfljasdfl asdlfj asldfjs
          #1#      <a href="@Url.Action("Index", "Coupons", "sdfsadf sdfljasdfl asdlfj asldfjsaldfsd kkk")" class="btn btn-primary">Show More <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <hr>
        <div class="row">
            <ul class="pager">
                <li class="previous">
                    <a href="#">← Older</a>
                </li>
                <li class="next">
                    <a href="#">Newer →</a>
                </li>
            </ul>
        </div>
    </div>*@